#calendarContainer {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    background-color: #d8d8d8;
    border: 1px solid #000000;
    box-sizing: border-box;
}

#calendarHeader {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 10px;
    text-align: center;
}

#calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
    font-size: 1.2rem;
    text-align: center;
}

.calendar-day {
    padding: 10px;
    border-radius: 5px;
    background-color: #ffffff;
    border: 1px solid #000000;
}

.calendar-success {
    background-color: #b2f2bb;
    border: 2px solid #2b8a3e;
}

.calendar-failure {
    background-color: #ffb3b3;
    border: 2px solid #d90429;
}

.calendar-today {
    background-color: #d3d3d3;
    border: 2px solid #000000;
    font-weight: bold;
}


/* full yr calendar */
#yearlyCalendarContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 1px;
    justify-content: center;
}

.month-calendar {
    border: 1px solid #ccc;
    width: 160px;
    padding: 5px;
    font-size: 12px;
    border-radius: 5px;
}

.month-header {
    text-align: center;
    font-weight: bold;
    margin-bottom: 1px;
}

.month-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 2px;
}

.month-grid div {
    text-align: center;
    padding: 2px;
}

.yr-calendar-success {
    background-color: #4caf50;
    border-radius: 5px;
    color: white;

}

.yr-calendar-failure {
    background-color: #f44336;
    border-radius: 5px;
    color: white;
}

.yr-calendar-future {
    background-color: #fcfcfc;
    border-radius: 5px;
    color: #999;
}

/* laptop size styling */
@media only screen and (max-width: 1800px) {
    #calendar {
        gap: 5px;
        font-size: 1rem;
    }
}

/* phone size atyling */
@media only screen and (max-width: 1300px) {
    #calendar {
        gap: 0px;
        font-size: 0.75rem;
    }
}
